<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
</style>
</head>
<body>

<div class="about-section">
  <h1>About Us Page</h1>
  <h4 style="text-align: left;"> From the Creators of LOVEU, </h4>
    <p style="text-align: left;">This is a platform that serves to remind users to take care of yourselves. Throughout the different websites, it
        lists the
        <br> benefits of taking care of your emotional and physical self care. More features and products will
            be added soon! Enjoy
        <br>  the different items and remember expand your emotional self care and decrease the 
            overwhelming emotions. Enjoy!</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="../../../../assets/tenzin.jpeg" alt="Tenzin" style="width:100%" height=445px>
      <div class="container">
        <h2>Tenzin Dasel</h2>
        <p class="title">Co-Founder</p>
        <p>Lead Designer, Computer Science Major</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../../../assets/kelly.png" alt="Kelly" style="width:100%" height=445px>
      <div class="container">
        <h2>Kelly Zheng</h2>
        <p class="title">Co-Founder</p>
        <p>Strategic Planner, Business & Comp Sci Major</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="../../../../assets/namini.jpeg" alt="Prof. Namini" style="width:100%" height=445px>
      <div class="container">
        <h2>Ahmad Namini</h2>
        <p class="title">Professor</p>
        <p>Python and Applications to Business Analytics II</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
