<!DOCTYPE html>
<html lang="en">
    <head>
        <title> EMOTIONAL SELF CARE </title>
    </head>

    <body>
        <div class="toast"></div>
        <div class="toast-cart"></div>
        <div class="container">
            <h1 style="font-family:initial;">EMOTIONAL SELF-CARE</h1><hr>
            <br>
            <div class="row">
                
                
                <!-- Box for journal  -->
                <div class ="col-lg-4">
                    <div class="card" style="width: 13rem; padding:50px">
                            <h2 class="">Journal Love</h2> 
                            <!-- import image  -->
                            <img class="moveimage" src="../../../../assets/journal.png" 
                            class="first-image"/>
                             <!-- Main body of the box  -->
                            <div class="card-body">             
                                 <a>
                                     <h5>Benefits:</h5>
                                     <p>
                                        Journaling evokes mindfulness. Relieve the tension of your constant thoughts crowding your mind onto the paper. Experience your emotions without judgement. 
                                         <br> 
                                         <Br>
                                         1. Reduce Stress: Organize those thoughts with a greater clarity to ease your mind from thoughts that do not serve you. Can be a way to document your memories and happy thoughts too!<Br>
                                         2. Be more in tune with your needs: Offers a space for individuals to reflect and feel more in control of their problems. Journaling brings a greater self-awareness to understand challenges around oneself and what to do to create solutions. 
                                         <Br>
                                         3. Mindfulness:Journaling helps the brain regulate its emotions. Helps writers stay in the present and reflect on what events or memories that are happening and offer a space to step back to understand each component.

                                     </p>
                                </a>
                                <hr>
                                  
                   
                            </div>
                    </div>
                </div>

                <!-- Box for spiritual  -->
                <div class ="col-lg-4">
                        <div class="card" style="width: 13rem; padding:50px">
                                <h2 class="">Spiritual Love</h2>    
                                <img class="moveimage" src="../../../../assets/spirituallove.png"
                                class="first-image"/>
                                 <div class="card-body">
                                    <a>
                                        <h5>Benefits:</h5>
                                        <p>Embark on a journey to help you discover a deeper sense of yourself and to discover a greater appreciation in your life. Set an intention each day to create a more meaningful life with hobbies and activities you enjoy doing.</p>
                                        <p>
                                            1. Be More Connected with Others: When you feel more connected with yourself, you feel a greater connection to those around you with a new profound appreciation.
                                           <br>
                                            2. Meditation: Allows us to view ourselves from within and to live life in the present. Meditation offers a space for reflection and self-awareness.
                                           <br> 
                                            3. Prayer: Stay connected with your faith. Through prayer, individuals can understand their greater destined goal and help further develop gratitude, compassion, and calmness. It places less pressure on ourselves and place trust in our own destiny and our believed Gods.
                                        </p>
                                    </a>
                                    <hr>
                                </div>
                        </div>
                    </div>



                    <!-- Box for boundary  -->
                    <div class ="col-lg-4">
                            <div class="card" style="width: 13rem; padding:50px">
                                    <h2 class="">Boundary Love</h2>  
                                    <img class="moveimage" src="../../../../assets/boundary4.png"
                                    class="first-image"/>
                                     <div class="card-body">
                                            <a>
                                                <h5>Benefits:</h5>
                                                <p> Learn to set boundaries in your life from work to relationships to create a better mental for yourself and emotional space. It helps you reclaim a stronger sense of self and build confidence for addressing your needs to other people. </p>                                              
                                                    <p>
                                                        1.Helps you create privacy and to feel respected: To develop healthy relationships with all aspects of your life, it is helpful to let people understand your values and what you are comfortable with. Doing so helps tell others how to respect you and your decisions.
                                                        <br>
                                                        2.Leads to greater assertiveness: It is a way to understand your needs and wants and assert those feelings to others around you, which helps build a greater sense of confidence.
                                                        <br>
                                                        3.Feeling of peace and more energy to do things that feed us energy: Boundaries protect us from emotional and mental harm. It helps keep us from burn out and allows us to enjoy more hobbies and people that bring us joy.                                            
                                                    </p>
                                                </a>
                                        <hr>                          
                                    </div>
                            </div>
                        </div>        
            </div>
        </div>
    </body>
</html>