<!DOCTYPE html>
<html>
    <head>
        <!-- <link rel="stylesheet" href="app.component.css"> -->
        <title>Love U</title>
    </head>
    <body>
        <!-- <img class="moveimage" src="../../../../assets/logo.png" />  -->
        <div class = "skincarepic">
            <img src="../../../../assets/products.png" style="width:100%;" height="738px;"/> 
            <div class="titlee">
            <h2>Self <span>Care.</span> Self <span>Love.</span></h2>
            </div>
            <div class="circle">
            </div>
            <img src="../../../../assets/hair.png" class="hair">
            <h2 class="physical"><a routerLink = 'Physical'> Physical Self-Care</a>
            </h2>
            <div class="circle1"></div>
            <h2 class="emotional"><a routerLink = 'Emotional'> Emotional Self-Care</a></h2>
            <img src="../../../../assets/aroma.png" class="aroma">
            <embed src="../../../../assets/med.mp3" loop="true" autostart="false" width="0" height="0">
            <p></p>
        </div>
    </body>

        <footer>
            <div class="container-fluid">
            <div class="row my-5 justify-content-center py-5">
                <div class="col-11">
                    <div class="row ">
                            <h3 class="loveu">LOVEU.</h3>
                            <div class="additional">
                                <p>Interact with the platform. There are hidden fun secrets.</p>
                            </div>
                        <div class="address">
                            <h6><b>CLASS</b></h6>
                            <p class="mb-1">BUS216F, PYTHON & APPLICATIONS</p>
                            <p>PROF. NAMINI</p>
                        </div>
                    </div>
                    <div class="editors">
                        <div class="rights">
                            <p class="social text-muted mb-0 pb-0 bold-text"> <span class="mx-2"><i class="fa fa-facebook" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-linkedin-square" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-twitter" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-instagram" aria-hidden="true"></i></span> </p><small class="rights"><span>&#174;</span> LOVEU All Rights Reserved.</small>
                        </div>
                        <div class="tenzin">
                            <h6><b>Tenzin Dasel</b></h6><small> <span><i class="fa fa-envelope" aria-hidden="true"></i></span></small>
                        </div>
                        <div class="kelly">
                            <h6><b>Kelly Zheng</b></h6><small><span><i class="fa fa-envelope" aria-hidden="true"></i></span></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </footer>
</html> 