<!DOCTYPE html>
<html lang="en">
    <head>
        <title> PHYSICAL SELF CARE </title>
    </head>

    <body>
        <div class="toast"></div>
        <div class="toast-cart"></div>
        <div class="container">
            <h1>PHYSICAL SELF-CARE</h1>
            <hr>
            <br>
            <div class="row">

                 <!-- Box for Skincare  -->
                <div class ="col-lg-4">
                    <div class="card" style="width: 13rem; padding:50px">
                            <h2 class="">Skin Care</h2> 
                             <!-- import image -->
                            <img class="moveimage" src="../../../../assets/SKIN.jpeg"
                            class="first-image"/>

                             <!-- Main body of the box -->
                             <div class="card-body">                                          
                                 <a >
                                     <h5>Benefits:</h5>
                                     <p>
                                         Skin Care is also Self care! A good skincare routine, like any other form of self-care, can be soothing and calming. 
                                         <br> 
                                         <Br>
                                         1. A Skin-Care Routine Provides Stability in Your Day That Benefits Your Mental Health<Br>
                                         2. Focusing on Doing Something Nice for Yourself Helps Stop a Worry Spiral.<Br>
                                         3. Pampering Skin on a Regular Basis Triggers a Cascade of Chemicals in Your Brain to Boost Your Mood

                                     </p>
                                </a>
                                <hr>
                                  
                   
                            </div>
                    </div>
                </div>


             <!-- Box for candles  -->
             <div class ="col-lg-4">
                    <div class="card" style="width: 13rem; padding:50px">
                            <h2 class="">Scented Candles</h2>  
                            <img class="moveimage" src="../../../../assets/Candle2.jpg"
                            class="first-image"/>
                             <div class="card-body">
                                    <a>
                                            <h5>Benefits:</h5>
                                            <p>
                                                1. It can reduce anxiety and stress, improve sleep quality, improve symptoms of depression, and even potentially reduce inflammation.<Br>
                                                2. Floral and herbal aromas, like geranium, lavender, and peppermint, have been proven to be useful for the treatment of various psychological and physiological disorders through the burning of aromatherapeutic candles. <br>
                                                3. Specific scents in candles can stimulate memory in the brain.
    
                                            </p>
                                        </a>
                                <hr>                          
                            </div>
                    </div>
                </div>       

                 <!-- Box for essential oils  -->
                 <div class ="col-lg-4">
                        <div class="card" style="width: 13rem; padding:50px">
                                <h2 class="">Essential Oils</h2> 
                                <img class="moveimage" src="../../../../assets/Essential.jpeg"
                                class="first-image"/>
                                 <div class="card-body">
                                     <a>
                                         <h5> Benefits: </h5>
                                         <p>
                                                Many self-care practices and products can be enhanced by the incorporation of essential oils. It's important, however, to remember that essential oils are very potent, and they should not be used or diffused continuously throughout the day. <br>
                                               <Br>
                                                1. Essential oils can be added to your bathwater.Bathing is a beautiful way to cleanse, relax and unwind.
                                               2. The practice of massage can be dramatically enhanced when essential oils are implemented into the massage session correctly and sensibly. 
                                               3. Use of essential oils during meditation and yoga can enhance the experience by grounding you and promoting a sense of calm.
                                         </p>
                                    </a>
                                    <hr>
                
                                </div>
                        </div>
                    </div>

                     <!-- Box for sleep  -->
                    <div class ="col-lg-4">
                            <div class="card" style="width: 13rem; padding:50px">
                                    <h2 class="">Sleep</h2>    
                                    <img class="moveimage" src="../../../../assets/Sleep2.jpeg"
                                    class="first-image"/>
                                     <div class="card-body">
                                        <a>
                                            <h5>Benefits:</h5>
                                            <p>
                                                1. Focusing on Doing Something Nice for Yourself Helps Stop a Worry Spiral.<Br>
                                                2. Pampering Skin on a Regular Basis Triggers a Cascade of Chemicals in Your Brain to Boost Your Mood. <br>
                                                3. It impacts on psychological health, metabolism, cardiovascular health and the immune system.
    
                                            </p>
                                        </a>
                                        <hr>
                                    </div>
                            </div>
                        </div>

                        
            </div>
        </div>
    </body>
</html>